* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.div_menu {
  background-color: black;
}

.div_menu .menu {
  color: white;
  font-size: 25px;
  font-variant: small-caps;
}

.slider-div {
  margin-top: 10px;
  margin-left: 35px;
}

.slider-div .slider {
  width: 48vw;
  position: relative;
}

p {
  text-align: justify;
  margin-bottom: 20px;
}

.footer,
.footer-alamat {
  background-color: black;
  color: white;
  text-align: center;
}
